div {
    padding: 0px;
    margin: 0px;
  }
  
  .container {
    border: solid 1px gray;
    display: flex;
    width: 320px;
    height: 160px;
  }
  
  .pain {
    height: 100%;
    overflow-y: scroll;
    border: 1px solid blue;
  }
  
  .left {
    width: 30%;
  }
  
  .right {
    width: 70%;
  }